#include<stdio.h>
#include<conio.h>
int main()
{
int i;
printf("Enter the number to check");
scanf("%d",&i);
i==0?printf("number is zero"):i>0?printf("number is positive"):printf("number is negative");
getch();
return(0);
}
